# =========================
# Environment variables
# =========================
.env
*.env
!.env.example

# =========================
# Java / Spring Boot / Maven
# =========================
target/
*.class
*.jar
*.war

# =========================
# Node / Angular
# =========================
node_modules/
.angular/
dist/
coverage/

# =========================
# IDEs
# =========================
.idea/
*.iml

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log